@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:wght@400;700&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}
.app{
    margin: 20px auto;
    padding: 0;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;

}